<div class="card col s12">
	<table class="striped">
		<thead>
			<tr>
				<th>Select</th>
				<th>School</th>
				<th>Date</th>
				<th>Check</th>
				<th>Cash</th>
				<th>Credit Card</th>
				<th>Vending</th>
				<th>EZ Payment</th>
				<th>Total</th>
			</tr>
		</thead>

		<tbody>

			<tr *ngFor="let d of getData()">
				<td> <a><i class="close material-icons"
					(click)="deleteData(d.id)">delete</i></a>
					<a><i class="close material-icons"
					(click)="editData(d.id,d)">mode_edit</i></a>
				<td>{{d.school}}</td>
				<td>{{d.date}}</td>
				<td>{{d.check | currency : 'USD' : true : '1.2-2'}}</td>
				<td>{{d.cash | currency : 'USD' : true : '1.2-2'}}</td>
				<td>{{d.credit_card | currency : 'USD' : true : '1.2-2'}}</td>
				<td>{{d.vending | currency : 'USD' : true : '1.2-2'}}</td>
				<td>{{d.ez_payment | currency : 'USD' : true : '1.2-2'}}</td>
				<td>{{(d.check + d.cash + d.credit_card + d.vending +
					d.ez_payment)| currency : 'USD' : true : '1.2-2'}}
			</tr>
		</tbody>
	</table>
	<ul class="pagination">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="https://tkdportal.herokuapp.com/income/?page=2">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  </ul>
</div>