<div class="card col s12">
    <table class="striped">
        <thead>
        <tr>
            <th>School</th>
            <th>Date</th>
            <th>Check</th>
            <th>Cash</th>
            <th>Credit Card</th>
            <th>Vending</th>
            <th>EZ Payment</th>
            <th>Total</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let d of getData()">
            <td>WCHQ</td>
            <td>{{d.date}}</td>
            <td>{{d.check}}</td>
            <td>{{d.cash}}</td>
            <td>{{d.creditCard}}</td>
            <td>{{d.vending}}</td>
            <td>{{d.ezPayment}}</td>
        </tr>
        </tbody>
    </table>
</div>